/*
Theme Name: tedxwarsaw
Theme URI: 
Author: tedxwarsaw
Author URI: https://tedxwarsaw.org
Description: Wordpress Theme
Version: 1.0
*/

:root {
  --min-header-height: 165px;
  --min-footer-height: 0;
  --mobile-padding: 24px;
  --desktop-padding: 36px;
  --max-page-width: 1200px;
  --red: #e30614;

  --desktop-side-padding: max(
    var(--desktop-padding),
    calc(calc(100vw - var(--max-page-width)) / 2)
  );
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  color: #f0f0f0;
  background-color: #111;
  background-repeat: no-repeat;
}

a {
  color: var(--red);
}

a:hover {
  color: inherit;
}

.aligncenter {
  text-align: center;
}

#page {
  display: grid;
  column-gap: 0;
  row-gap: 0;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows:
    minmax(var(--min-header-height), auto)
    minmax(calc(100vh - var(--min-header-height)), auto)
    minmax(var(--min-footer-height), auto);
  grid-template-columns: auto;
}

.site-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.site-main {
  padding-top: 0 !important;
  grid-area: main;
}

.site-footer {
  grid-area: footer;
}

@media only screen and (max-width: 1200px) {
  .site-main,
  .site-footer {
    padding: var(--mobile-padding);
  }

  .site-header {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }

  .menu-desktop {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .site-main,
  .site-footer {
    padding: var(--desktop-padding);
    padding-left: var(--desktop-side-padding);
    padding-right: var(--desktop-side-padding);
  }

  .site-header {
    padding-left: var(--desktop-side-padding);
    padding-right: var(--desktop-side-padding);
  }

  .menu-toggle {
    display: none;
  }

  .menu-primary-container,
  .menu-desktop {
    height: 100%;
  }

  .menu-desktop #primary-menu-desktop {
    display: flex;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu-desktop #primary-menu-desktop > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.25rem;
  }

  .menu-desktop #primary-menu-desktop > li > a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .menu-desktop #primary-menu-desktop > li > a:hover {
    color: var(--red);
  }

  .menu-desktop .current_page_item {
    --border-width: 4px;
    border-top: var(--border-width) solid var(--red);
    border-bottom: var(--border-width) solid transparent;
    color: var(--red);
  }
}

.main-navigation,
.site-branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 40px;
  width: 200px;
}

.menu-toggle,
.menu-close {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.menu-close-container {
  width: 100%;
  text-align: right;
}

.menu-mobile {
  display: none;
}

.menu-mobile a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.menu-mobile a:hover {
  color: var(--red);
}

.toggled .menu-mobile {
  --padding: 60px;
  background: white;
  display: block !important;
  min-height: calc(100vh - calc(2 * var(--padding)));
  left: 0;
  padding: 60px;
  position: fixed;
  top: 0;
  width: calc(100vw - calc(2 * var(--padding)));
  z-index: 10;
}

.menu-mobile ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-mobile li {
  margin-bottom: 1.5rem;
}

#footer-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#footer-menu > * + * {
  margin-left: 1.5rem;
}

.site-info p {
  color: #b7b7b7;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}
